<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NeteaseHeader</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/neteaseheader.css">
</head>
<body>
    <div class="topbar">
        <div class="topheader">
            <div class="m-top">
                <h1 class="logo">
                    <a href="#">.</a>
                </h1>
            </div>
        </div>
    </div>
</body>
</html>