.main{
    margin:20px auto 60px;
    width:1200px
}

.w{
    width: 1200px;
    margin:0 auto;
}

ul li{
    list-style: none;
}

.nav ul li{
    list-style: none;
    float: left;
    margin-right: 50px;
}

.main ul li:first-child a{
    color:#31c27c;
}

.musiclist{
    margin-top: 25px;
    position: relative;
}

.listhd li,.listbd li{
    display: inline-block;
    width: 300px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-space: none;
    text-overflow: ellipsis;
}

.list2{
    background-color: rgba(0,0,0,0.02);
}

.musiclist .tip{
    position: absolute;
    z-index: 1000;
    top: 30px;
    left: 500px;
    display: inline-block;
    padding: 10px 10px;
    background-color: rgba(0,0,0,.8);
    font-size: 25px;
    color: white;
    text-align: center;
    border-radius: 10px;
}




