.mv_main{
    width: 980px;
    height: 100%;
    margin: 0px auto;
    border-left: 1px solid #ccc;
    overflow: hidden;
}

.mv_main .mv_left{
    float: left;
    width: 709px;
    padding: 47px 30px 40px 39px;
}

.mv_main .mv_left h2{
    font-size: 24px;
    font-weight: normal;
    float: left;
    height: 32px;
    margin-right: 5px;
}

.mv_main .mv_title h2 i{
    display: inline-block;
    width: 29px;
    height: 18px;
    background: url("../img/icon2.png") no-repeat -230px -480px;
    margin: 7px 5px 0px 0px;
}

.mv_title{    
    vertical-align: bottom;
}

.mv_title h2{
    width: 660px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.mv_ltop span{
    float: left;
    margin: 12px 0 0 0;
    font-size: 12px;
    line-height: 17px;
    font-family: "Microsoft YaHei UI";
}



.mv_main .mv_left video{
    margin-top: 5px;
    width: 640px;
    height: 360px;
    background-color: black;
}

.mv_left .mv_btns{
    margin-top: 10px;
}

.mv_left .mv_btns a{
    display: inline-block;
    padding: 5px 5px;
    height: 31px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

.mv_main .mv_right{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    float: right;
    width: 270px;
    padding: 20px 40px 40px 30px;
}

.mv_main .mv_right h3{
    width: 200px;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.mv_right .mv_cover,img{
    width: 96px;
    height: 54px;
}
.mv_right .mv_cover,.mv_content{
    float: left;
}

.mv_right .mv_content p{
    width: 95px;
    height: 20px;
    margin: 0px;
    margin-left: 5px;
    padding-bottom: 20px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.mv_tuijian li{
    margin-bottom: 10px;
}
