.ma_title{
    width: 100%;
    height: 42px;
    border-bottom: 2px solid #c20c0c;
}
.ma_main{
    padding: 10px 40px;
}

.ma_main .ma_title h2{
    color: #333;
    font-size: 24px;
    font-weight: normal;
}
.ma_main .ma_body{
    padding: 10px;
}
.ma_main .ma_body ul li{
    height: 100px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
}

.ma_main .ma_body .cvr{
    width: 80px;
    height: 80px;
    float: left;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 5px;
}

.singerimg{
    width: 80px;
    height: 80px;
}

.ma_body .detail{
    display: inline-block;
    border: 1px solid #fff;
    width: 550px;
    height: 80px;
    margin-left: 10px;
}

.ma_body .detail h3{
    padding: 10px;
    font-size: 18px;
    color: #666;
}

.ma_body .detail p{
    padding: 10px;
    font-size: 14px;
    color: #666;
}

.ma_body .detail p span{
    margin-right: 5px;
}

