.mysonglist_main{
    width: 1100px;
    margin: 0px auto; 
    padding-top: 20px;   
    background-color: #fff;
    overflow: hidden;
    
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.songlist_left{
    float: left;
    padding-top:10px;
    padding-right:20px;
    width: 240px;
    height: 524px;
    overflow-x: hidden;
    overflow-y: auto;
}

.songlist_right{
    float: left;
    width: 850px;
}

.mycreate_sl ul li:hover{
    background-color: #eee;
    cursor: pointer;
}

.mycollect_sl ul li:hover{
    background-color: #eee;
    cursor: pointer;
}

.mycreate_sl ul li{
    padding:7px 0px 6px 20px;
    height: 54px;
    width: 238px;
}

.mycollect_sl ul li{
    padding:7px 0px 6px 20px;
    height: 54px;
    width: 238px;
}

ul{
    list-style: none;
}

.left_img,.left_detail{
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: bottom;
}

.left_detail{
    width: 150px;
    padding-left: 10px;
}

.left_img img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.clear-fix::after{
    content: '';
    display: block;
    clear: both;
}

.slmain h2{
    height: 38px;
    width: 238px;
    padding: 0px 5px 2px 20px;
    font-size: 16px;
    font-family: "Microsoft YaHei UI";
    color: #000 !important;
    line-height: 38px;
}

.slmain h2:hover{
    background-color: #eee;
    cursor: pointer;
}

p{
    font-size: 12px;
    font-family: "Microsoft YaHei UI";
    margin-bottom: 15px;
}