.main{
    margin-bottom: 40px;
}

.search_body{    
    margin: 0 auto 0;
    width: 980px; 
    min-height: 700px;   
    padding:40px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;    
    background-color: #fff;
}

.search_body .search_input{  
    width: 420px;  
    height: 40px;
    margin: 0 240px;
    background: url('../img/sprite.png' ) no-repeat ;
    overflow: hidden;
    border-radius: 6px;
}

.search_body .search_input a{    
    float:right;
    width: 50px;
    height: 40px;
    vertical-align: bottom;    
}

.search_body .search_input a:hover{
    background: url('../img/sprite.png' ) no-repeat ;
    background-position: -430px 0;
    text-decoration: none;
}



.search_body .search_input input{
    float: left;
    height: 17px;
    width: 320px;
    border: none;
    margin: 12px 0 0 20px;
    outline: none;
}



.search_con{
    width: 900px;
}

.search_con .note{
    width: 900px;
    height: 16px;
    font-size: 12px;
    margin: 20px 0px 17px;
    color: #999;
}

.search_body .search_tab{
    width: 100%;
    height: 39px; 
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.025);
}

.search_body .search_tab ul li{
    float: left;
    width: 112px;
    height: 39px;
    text-align: center;
    line-height: 37px;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
    /* background-color: rgba(0, 0, 0, 0.025); */
}

.search_body .search_tab ul li a{
    display: inline-block;
    width: 112px;
    height: 39px;
    font-size: 14px;
    color: #333;
}

.search_body .search_tab ul li:first-child{
    border-left: 1px solid #ccc;
}

.search_body .search_tab ul li:first-child a{
    color: #333;
}


.search_body .search_tab ul li:hover{
    border-top: 2px solid #c20c0c;
    cursor: pointer;
}

.search_body .search_tab .tab_selected{
    border-top: 2px solid #c20c0c;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 0px;
}

/* artist开始 */




