.videolist{
    width: 900px;
    margin-top: 20px;
}

.videocover,.videoimg{
    width: 159px;
    height: 90px;
    position: relative;
}

.videolist .videoitem{
    width: 159px;
    height: 177px;
    display: inline-block;
    margin-right: 21px;
    vertical-align: text-bottom;
}

.videoitem h4 .mvicon{
    display: inline-block;
    width: 26px;
    height: 16px;
    margin-right: 5px;
    background: url('../../img/icon2.png') no-repeat -270px -480px;
}

.videoitem h4 a{
    display: inline-block;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
}

.videolist .videoitem .videotitle{
    margin-top: 7px;
    font-size: 14px;
    vertical-align: middle;    
    font-weight: normal;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.videocreator{
    font-size: 14px;
    vertical-align: middle;    
    font-weight: normal;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.videopt,.vidodura{
    font-size: 12px;
    position: absolute;
    color: white;
}

.videocover .videopt{
    right: 5px;
    top:5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.videocover .vidodura{
    bottom: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}


.n_video{
    width: 900px;
    height: 400px;
    padding-top: 80px;
    padding-left: 250px;
}

.n_video_content{
    display: flex;
    align-items: center;
    height: 50px;
    width: 900px;
    text-align: center;
    overflow: hidden;
}

.n_video_content .n_video_icon{
    display: inline-block;
    width: 64px;
    height: 50px;
    background: url('../../img/icon.png') no-repeat 0 -347px;
    margin-right: 10px;
}

.n_video_content span{
    height: 50px;
}
